*{
    margin: 0;
    padding: 0;
    background:rgba(0,0,0,0.8) url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW4lMjB0aGVtZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-blend-mode: darken;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
}
.container h1{
    margin-top: 40px;
    font-size: large;
    font-weight: 800;
}
.container sub{
    color: brown;
    font-size: smaller;
    font-weight: 800;
}
.container sub{
    font-size: small;
}
.container:hover{
    color: rgb(219, 162, 56);
}
.container sub:hover{
    color: rgb(228, 91, 91)
}

.type{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 10px 50px 10px;
    font-size: xx-large;

}


@media only screen and (max-width:375px){
    .container h1{
        margin-top: 40px;
        font-size: small;
        font-weight: 800;
    }
    .type{
        font-size: large;
    }
}

@media only screen and (max-width:414px){
    .container h1{
        margin-top: 40px;
        font-size: x-large;
        font-weight: 800;
    }
    .type{
        font-size: x-large;
    }
}

@media only screen and (max-width:280px){
    .container h1{
        margin-top: 40px;
        font-size: large;
        font-weight: 800;
    }
    .type{
        font-size: large;
    }
}